body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

.linkTable {
  text-decoration: none;

  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #1976d2;
  color: white;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: 250ms;
}

.linkTable:hover {
  background-color: #1a65af;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 30%),
    0px 2px 2px 0px rgb(0 0 0 / 24%), 0px 1px 5px 0px rgb(0 0 0 / 22%);
}

.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
